.deckStats {
  background-image: url(https://media.istockphoto.com/photos/green-blue-grunge-background-teal-stone-background-picture-id1209152534?k=6&m=1209152534&s=170667a&w=0&h=v-wV_GcAkEhkE4bCOhR725BuwQHYa66VC0UDEkvLuhA=);
  text-align: center;
  color: white;
  width: 300px;
  box-shadow: 0 0 1pt 1pt black;
  border-radius: 10px;
}

.descriptionDiv {
  padding-top: 100px;
  background-image: url(https://media.istockphoto.com/photos/green-blue-grunge-background-teal-stone-background-picture-id1209152534?k=6&m=1209152534&s=170667a&w=0&h=v-wV_GcAkEhkE4bCOhR725BuwQHYa66VC0UDEkvLuhA=);
  background-color: #00acb0;
  box-shadow: 0 0 1pt 1pt black;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  margin: auto;
  text-align: center;
  width: 89%;
  margin-left: 60px;
  margin-right: 60px;
}

.featuredCardDiv {
  background-color: #00acb0;
  background-image: url(https://media.istockphoto.com/photos/green-blue-grunge-background-teal-stone-background-picture-id1209152534?k=6&m=1209152534&s=170667a&w=0&h=v-wV_GcAkEhkE4bCOhR725BuwQHYa66VC0UDEkvLuhA=);
  box-shadow: 0 0 1pt 1pt black;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  margin: 1%;
  position: relative;
  left: 6.5%;
  text-align: center;
}

.viewDeckEditDeckView {
  background-color: white;
  box-shadow: 0 0 1pt 1pt black;
  border-radius: 10px;
  width: 43%;
  position: relative; /* display: inline-block; */
  float: right;
  margin-right: 30%;
  margin-top: 33px;
  height: 500px;
  overflow: auto;
  margin-bottom: 40px;
}

.devotionPieChart {
  margin-left: 100px;
}

.descriptionDivText {
  text-align: left;
  padding-left: 22px;
}

.descriptionDiv {
  padding-top: 100px;
  background-image: url(https://media.istockphoto.com/photos/green-blue-grunge-background-teal-stone-background-picture-id1209152534?k=6&m=1209152534&s=170667a&w=0&h=v-wV_GcAkEhkE4bCOhR725BuwQHYa66VC0UDEkvLuhA=);
  background-color: #00acb0;
  /* outline: solid black 2px; */
  box-shadow: 0 0 1pt 1pt black;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  margin: auto;
  text-align: center;
  width: 89%;
  margin-left: 60px;
  margin-right: 60px;
}

.descriptionDivText {
  text-align: left;
  padding-left: 22px;
}

.descriptionInput {
  width: 95%;
}

.viewDeckFeaturedCardDiv {
  background-color: #00acb0;
  background-image: url(https://media.istockphoto.com/photos/green-blue-grunge-background-teal-stone-background-picture-id1209152534?k=6&m=1209152534&s=170667a&w=0&h=v-wV_GcAkEhkE4bCOhR725BuwQHYa66VC0UDEkvLuhA=);
  /* outline: solid black 2px; */
  box-shadow: 0 0 1pt 1pt black;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 60px;
  margin-top: 10px;
  display: inline-block;
  /* margin: 1%; */
  position: relative;
  /* left: 13%; */
  text-align: center;
}

.viewDeckEditDeckView {
  /* outline: solid black 2px; */
  background-color: white;
  box-shadow: 0 0 1pt 1pt black;
  border-radius: 10px;
  width: 43%;
  position: relative; /* display: inline-block; */
  float: right;
  margin-right: 10%;
  margin-top: 33px;
  height: 500px;
  overflow: auto;
  margin-bottom: 40px;
}

.featuredViewDeckCard {
  margin: 0;
  right: 800px;
  position: static;
  padding-top: 130px;
  border-radius: 10px;
  position: fixed;
  float: right;
}

.editDeckHeader {
  text-align: center;
}

.nameTh {
  text-align: left;
  padding-left: 40px;
}

.nameTd {
  text-align: left;
  padding-left: 30px;
}

.qtyTd {
  text-align: center;
}
